<div class="editbox">
  <h2>プロフィール編集
  </h2>
  <%= form_for(@user) do |f| %>
 
    <div class="edit">
    <%= f.label :Name %><br />
    <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="user-edit-image">
   <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "pro.jpg", size:"60x60" %>
    </div>

    <div class="edit">
    <%= f.attachment_field :profile_image,placeholder:"プロフィール画像" %>
    </div>

    <div class="edit">
    <%= f.label :introduction %><br />
    <%= f.text_field :intro %>
    </div>

    <%= f.submit "Uodate", class:'btn btn-info' %>
  <% end %>
</div>