<%= render 'form', user: current_user %>

    <div class="col-lg-9">
     <h2>Books</h2>

     <table class="table table-striped">
      <th class="books-image">Image</th>
      <th>name</th>
      <th>Introduction</th>
      <th></th>
        <% @users.each do |user| %>
         <tr>
         <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "pro.jpg",size: '40x40' %>
         </td>
          <td>
          <%= user.name %> 
          </td>
          <td>
          <%= user.intro %>
          </td>
          <td>
          <%= link_to "Show", user_path(user.id) %>
          </td>
         </tr>
       <% end %>
      </table>

     </div>
   </div>
</div>