<div class="mainbox clearfix">

  <h2 class="">Books</h2>

   <div class="index" >

     <table border=2>
		  <th>Title
		  <th>Body
      <th colspan="3">Command</th>
       <% @boo.each do |book| %>
          <tr>
    	   <td width="100"><%= book.title %>
    	   <td width="500"><%= book.body %>
         <td style="font-size:12px;"><%= link_to "Show", book_path(book.id) %>
         <td style="font-size:12px;"><%= link_to "Edit", edit_book_path(book.id) %>
         <td style="font-size:12px;"><%= link_to "Destroy", book_path(book.id), method: :delete,data: { confirm: 'Are you sure?' } %>
          </tr>
       <% end %>
      </table>

   </div>

 <div class="createbox">
   <h3>New book</h3>

    <%= form_for(@book) do |f| %>

      <h4>Title</h4>
      <%= f.text_field :title %>

      <h4>Body</h4>
      <%= f.text_area :body %>

      <h4><%= f.submit 'Create book',data: {confirm: "本当に投稿しますか？"}%></h4>

    <% end %>
 </div>
 <div class="back">
   	<%= link_to "Topへ戻る", root_path %>
 </div>


</div>