<div class="container">
 <div class="row">

   <div class="col-lg-3">

    <div class="info">
     <h2>User info</h2>
     <%= attachment_image_tag @bookl.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "pro.jpg", size: "100x100"%>

     <table class="table-striped table">
     <tr >
      <td>Name
      </td>
      <td>
      <%= @bookl.user.name %>
      </td>
      </tr>
      <tr>
      <td>Introduction
      </td>
      <td>
      <%= @bookl.user.intro %>
      </td>
     </tr>
    </table>
    <%= link_to "編集", edit_user_path(@bookl.user), class: 'btn btn-default glyphicon glyphicon-wrench box' %>
   </div>

   <div class="createbox">
   <h3>New book</h3>

    <%= form_for(@book) do |f| %>

      <h4>Title</h4>
      <%= f.text_field :title, class: 'box' %>

      <h4>Body</h4>
      <%= f.text_area :body, class: 'box' %>
      <%= f.submit 'Create book' , class: 'btn btn-info box'%>

    <% end %>
    </div>
  </div>

　　<div class="col-lg-9">
      <h2>Book Ditail</h2>

      <table class="table table-striped">
      <th>Image</th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="2"></th>
        <tr>
         <td><%= attachment_image_tag @bookl.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "pro.jpg",size: '40x40' %></td>
         <td><%= @bookl.title %></td>
         <td><%= @bookl.body %></td>
        <% if @bookl.user == current_user %>
         <td><%= link_to "Edit", edit_book_path(@bookl.id),class: "btn btn-success" %></td>
         <td><%= link_to "Destroy", book_path(@bookl.id), method: :delete,data: { confirm: 'Are you sure?' } ,class: "btn btn-danger" %></td>
        </tr>
        <% else %>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </table>
     </div>
 </div>
</div>
